{{#if success_msg}}
    <div class="alert alert-success alertIndexSumir" 
    style="display: inline-block;text-align: center; position:
     relactive; width:50%;">{{success_msg}}</div>
{{/if}}

{{#if error_msg}}
    <div class="alert alert-danger alertIndexSumir"
     style="display: inline-block;text-align: center; position:
      relactive; width:50%;">{{error_msg}} Possui uma conta?<a href="/login">Login</a></div>
{{/if}}