 <h1>Pegar valor digitado utilizando JavaScript. Dica 29</h1>
            <input type="text" id=valor>
            <input type="submit" onclick="capturar()" value="escreva algo">
            <p id="valorDigitado"></p>

            <script>
var capturando = "";
function capturar () {
    capturando = document.getElementById('valor').value;
    document.getElementById('valorDigitado').innerHTML = capturando;
}

            </script>