{{>_navb}}
<section class="banner-area bg_cover">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-content">
                    <h1 class="text-white">Login</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Página de login</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="dashboard-area pb-110">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-10">
                <div class="login-wrapper box-style">
                    <h3 class="mb-20">Login</h3>
                    <form action="/usuarios/login" method="post">
                        <div class="row">

                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="0">
                                    <label for="emailtroca">E-mail</label>
                                </div>

                                <div class="col-md">
                                    <div class="form-floating">
                                        <input type="password" class="form-control" id="senha" name="senha"
                                            placeholder="0">
                                        <label for="emailtroca">Digite sua senha</label>
                                    </div>

                                    <div class="col-12">
                                        <div class="single-form mb-30">
                                            <button class="main-btn btn-hover py-2 px-5 rounded">Login</button>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="single-form mb-20">
                                            <p>Esqueceu sua senha? <a href="" data-bs-toggle="modal"
                                                    data-bs-target="#trocarsenha">Redefinir</a></p>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="single-form mb-30">
                                            <p>Não possui uma conta? <a href="/registro">Cadastre-se</a></p>
                                        </div>
                                    </div>
                                </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </form>

</section>

<div class="modal fade" id="trocarsenha" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Trocar Senha</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form-enviar-confirmacao" action="/usuarios/mail-senha" method="POST">

                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="emailtroca" name="emailtroca" placeholder="0">
                            <label for="emailtroca">Digite seu e-mail</label>
                        </div>
                    </div>
                    <button type="submit" id="enviaemail" class="btn btn-primary">Enviar</button>

                </form>

                <form id="form-confirma-token" action="/usuarios/reset-senha" method="POST">
                    <input type="hidden" id="receberemail" name="receberemail">
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="token" name="token" placeholder="0">
                            <label for="emailtroca">Chave recebida</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="password" class="form-control" id="senhanova" name="senhanova" placeholder="0">
                            <label for="emailtroca">Digite sua nova senha</label>
                        </div>
                    </div>

                    <button id="trocasenha" class="btn btn-primary">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $('#form-confirma-token').hide()
    $('#form-enviar-confirmacao').submit(() => {
        let emailtroca = $('#emailtroca').val()
        event.preventDefault()
        jQuery.ajax({
            type: "POST",
            url: '/usuarios/mail-senha',
            data: { emailtroca: emailtroca },
            success: function (response) {
                if (response.responseid == 200) {
                    $('#receberemail').val(emailtroca)
                    $('#form-confirma-token').show()
                    $('#form-enviar-confirmacao').hide()
                }
                if (response.responseid == 100) {
                    $(document).ready(() => {
                        Swal.fire({
                            icon: 'error',
                            title: 'Esse e-mail não está cadastrado.',
                            footer: '<a href="/registro">Criar uma conta.</a>',

                        })
                    })
                }
            }
        });
    })

</script>
<script>
    $('#form-confirma-token').submit(() => {
        let token = $('#token').val()
        let senhanova = $('#senhanova').val()
        let receberemail = $('#receberemail').val()
        event.preventDefault()
        jQuery.ajax({
            type: "POST",
            url: '/usuarios/reset-senha',
            data: { receberemail: receberemail, senhanova: senhanova, token: token },
            success: function (response) {
                if (response.responseid == 200) {

                    $(document).ready(() => {
                        Swal.fire({
                            icon: 'success',
                            title: 'Senha alterada com sucesso!',
                            confirmButtonText: 'Ok',
                            allowOutsideClick: false,
                        }).then((result) => {
                            if (result.isConfirmed) {
                                document.location.reload(true);
                            }
                        })

                    })

                }
                if (response.responseid == 100) {
                    $(document).ready(() => {
                        Swal.fire({
                            icon: 'error',
                            title: 'Chave inválida.',
                            allowOutsideClick: false,

                        })
                    })
                }
                  if (response.responseid == 125) {
                    $(document).ready(() => {
                        Swal.fire({
                            icon: 'error',
                            title: 'Senha muito curta.',
                            allowOutsideClick: false,

                        })
                    })
                }
            }
        });
    })

</script>
<script>
    var capturando = "";
    function trocarmodal() {
        capturando = document.getElementById('emailtroca').value
        document.getElementById('emailrecebido').innerHTML = capturando;
    }

</script>


{{#if error_msg}}

<script>
    $(document).ready(() => {
        Swal.fire({
            icon: 'error',
            title: '{{error_msg}}',

        })

    })

</script>

{{/if}}