{{>_navb}}

<section class="banner-area bg_cover">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-content">
                    <h1 class="text-white">Loja</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Loja virtual</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="dashboard-area pb-110">
    <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-8">
            <div class="post-ad-wrapper box-style">
                <div class="title">
                    <h3 style="text-align: center;"> Informações da loja </h3></br>
                </div>
                <div class="post-ad-form-wrapper">
                    <form id="form-cadastrar-loja" action="/usuarios/ativar-vendedor" method="post">
                        <div class="container">
                            <form>
                                <input type="hidden" id="idvendedor" name="idvendedor" value="{{usuario._id}}">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="nomeloja" name="nomeloja"
                                        placeholder="name@example.com" required>
                                    <label for="nomeloja">Nome da loja</label>
                                </div>

                                <div class="title">
                                    <center><Label>Pessoa</Label></center>
                                </div>
                                <center>
                                    <div class="radio-group">
                                        <input id="fisica" class="radio-group__option" type="radio" name="opt">
                                        <label class="radio-group__label" for="fisica">
                                            Física
                                        </label>

                                        <input id="juridica" class="radio-group__option" type="radio" name="opt"
                                            value="cnpj">
                                        <label class="radio-group__label" for="juridica">
                                            Jurídica
                                        </label>
                                    </div>
                                    <br />
                                </center>
                                <input type="hidden" id="Tipopessoa" name="Tipopessoa">
                                <div class="camposExtrascnpj">

                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="rzsocial" name="rzsocial"
                                            placeholder="name@example.com">
                                        <label for="rzsocial">Razão social</label>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="cnpj" name="cnpj"
                                            placeholder="name@example.com" onkeyup="cnpjCheck(this)" value=""
                                            autocomplete="off">
                                        <label for="cnpj">CNPJ</label>
                                        <span class="d-inline" id="cnpjResponse"></span></p>

                                    </div>
                                </div>


                                <div class="camposExtrascpf">

                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="nomecompleto" name="nomecompleto"
                                            placeholder="name@example.com" value="">
                                        <label for="nomecompleto">Nome completo</label>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="cpf" name="cpf"
                                            placeholder="name@example.com" onkeyup="cpfCheck(this)" maxlength="18"
                                            value="" autocomplete="off" onkeydown="javascript: fMasc( this, mCPF );">

                                        <label for="floatingInput">CPF</label>
                                        <span class="d-inline" id="cpfResponse"></span></p>
                                    </div>
                                    <input type="hidden" id="validate" name="validate">
                                </div>

                                <div class="title">
                                    <h5 style="color: rgb(104, 104, 104);">
                                        <center>Contato e localização</center>
                                    </h5></br>
                                </div>
                                <div class="row g-2">
                                    <div class="col-md">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="telcomercial"
                                                name="telcomercial" placeholder="0">
                                            <label for="telcomercial">Telefone</label>
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="celcomercial"
                                                name="celcomercial" value=placeholder="0" required>
                                            <label for="celcomercial">Celular</label>
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <div class="form-floating">
                                            <input type="email" class="form-control" id="email" name="email"
                                                placeholder="0">
                                            <label for="email">Email</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-2">
                                    <div class="col-md-3">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="cep" name="cep" placeholder="0"
                                                required>
                                            <label for="cep">CEP</label>
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="logradouro" name="logradouro"
                                                placeholder="0" required>
                                            <label for="logradouro">Endereço</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-floating">
                                            <input type="number" class="form-control" id="numero" name="numero"
                                                placeholder="0" required>
                                            <label for="numero">N°, ap, lote</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-2">
                                    <div class="col-md">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="bairro" name="bairro"
                                                placeholder="0" required>
                                            <label for="bairro">Bairro</label>
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="localidade" name="localidade"
                                                placeholder="0" required>
                                            <label for="localidade">Cidade</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="uf" name="uf" placeholder="0"
                                                required>
                                            <label for="uf">UF</label>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <button class="main-btn btn-hover" id="salvar">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/assets/js/vendedor/registro-vendedor.js"></script>

<script>
      document.querySelector('#juridica').checked = true
    $('.camposExtrascpf').hide();
    $('#rzsocial').prop('required', true);
    $('#nomecompleto').removeAttr('required');
    $('#cpf').removeAttr('required');
    $('#cnpj').prop('required', true);

</script>

<script>
    $("#cpf").mask("000.000.000-00");
    $("#cep").mask("00000-000");
    $("#telcomercial").mask("(00)0000-0000")
    $("#celcomercial").mask("(00)00000-0000")
    $("#cnpj").mask("00.000.000/0000-00")

</script>

<script>
    if ({{ usuario.eTipopessoa }} == 1) {
        document.querySelector('#juridica').checked = true
        document.querySelector('#Tipopessoa').value = "1"
        $('.camposExtrascnpj').show();
        $('.camposExtrascpf').hide();
        $('#rzsocial').prop('required', true);
        $('#nomecompleto').removeAttr('required');
        $('#cpf').removeAttr('required');
        $('#cnpj').prop('required', true);
    } if ({{ usuario.eTipopessoa }} == 2) {
        document.querySelector('#fisica').checked = true
        document.querySelector('#Tipopessoa').value = "2"
        $('.camposExtrascnpj').hide();
        $('.camposExtrascpf').show();
        $('#rzsocial').removeAttr('required');
        $('#nomecompleto').prop('required', true);
        $('#cnpj').removeAttr('required');
        $('#cpf').prop('required', true);
    }else {
        $('.camposExtrascpf').hide();
    }
    </script>
    <script>

    $(".radio-group__option").change(function () {
        if ($(this).val() == "cnpj") {
            document.querySelector('#Tipopessoa').value = "1"
            $('.camposExtrascnpj').show();
            $('.camposExtrascpf').hide();
            $('#rzsocial').prop('required', true);
            $('#nomecompleto').removeAttr('required');
            $('#cpf').removeAttr('required');
            $('#cnpj').prop('required', true);
        } else {
            document.querySelector('#Tipopessoa').value = "2"
            $('.camposExtrascnpj').hide();
            $('.camposExtrascpf').show();
            $('#rzsocial').removeAttr('required');
            $('#nomecompleto').prop('required', true);
            $('#cnpj').removeAttr('required');
            $('#cpf').prop('required', true);
        }
    });

</script>